#bmi-calculator-wrapper {
 
  margin: auto;
  margin-top: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values for desired shadow effect */
  display: flex;
  border-radius: 20px;
}
@media only screen and (min-width: 1024px) {

  #bmi-calculator-wrapper{
    max-width: 50%;
    max-height: 320px;
  }
    .input-area{
      width: 100%;;
    }
  

}
html {
  background-color: white;
  font-family: "Hanken Grotesk", sans-serif;
}
.calculate-button {
  width: 100%;
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  background-color: rgb(30 41 59 / 1);
  border: none;
}
.result-area {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    hsla(242, 92%, 35%, 0.849),
    hsl(234, 85%, 45%)
  );
  padding: 2.5rem;
  color: hsl(241, 100%, 89%);
  border-radius: 10px;
}
.result-area h4 {
  font-weight: 600;
  font-size: 0.9rem;
}
.input-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  padding: 10px;
}
.input-area .input-area label {
  font-weight: 700;
  font-size: 0.7rem;
}
.input-area h4 {
  font-weight: 600;
  text-align: left;
  font-size: 0.9rem;
}
.result-value {
  background: linear-gradient(
    to bottom,
    hsla(242, 92%, 35%, 0.849),
    hsl(234, 85%, 45%)
  );
  border-radius: 9999px;
  padding: 1rem 0;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  /* box-shadow: 0px 4px 8px white;  */
}
.result-text {
  font-weight: 600;
  font-size: 1rem;
  color: white;
}
.result-detail {
  font-size: 0.7rem;
  text-align: center;
  color: hsl(241, 100%, 89%);
}
.input-value-wrapper label {
  font-weight: 700;
  font-size: 0.7rem;
}

.red-color {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.yellow-color {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));
}
.input-value-wrapper {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity));
  border-radius: 10px;
  padding: 10px;
}
.calculate-button {
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #bmi-calculator-wrapper {
    min-width: 100%;

}

}

@media only screen and (max-width: 600px) {
#bmi-calculator-wrapper{
    flex-direction: column;

}
.result-area, .input-area, .input-value-wrapper{
  max-width: 100%;
}
.input-value-wrapper{
  margin-bottom: 10px;
}



}